<a href="https://colab.research.google.com/github/ztach/zaliczki/blob/main/co_kto_ma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

pd.options.display.float_format = '{:,.2f}'.format
# pd.set_option('display.max_rows',None)
# pd.set_option('display.max_columns',None)

In [ ]:
pth='/content/drive/MyDrive/Colab Notebooks/'
fil = 'co-kto-ma.xlsx'
url= pth + fil
data_all = ['PrzedsiębiorstwoId','Zarządca','Indeks','Wspólnota','rok(Data Płatności)','miesiąc(Data Płatności)','Suma (Remont)','Suma (Ekspl.)','Suma (Woda)','Suma (C.O.)','Suma (Śmieci)','Suma (Eks_media)','Suma (Razem)','czyUżytkowy','Ile lok u zarządcy','Ile lok u repr','IleWspólnotNaDziś','Funkcja']
data_dell = ['id','sfkprzedsiebiorstwoid','zarzadca','reprezentant','indeks','wspolnota','DataKsiegowania','eksm_media','razem','lokUz','dataWprowadzenia','lokale_u_zarz','lokale_u_repr','KtoKsiegowal','ile','fukcja','sfkdowodId']

class GetExcel:
    def __init__(self,url):
        self.url = url
        
    def get_all_df(self):
        return pd.read_excel(url)

    def get_df(self,args):
        return (pd
                .read_excel(url)
                .drop(columns=args)
        )

In [ ]:
df = GetExcel(url)
dz = df.get_all_df()

In [ ]:
dz

Robię bazę danych

In [ ]:
from sqlalchemy import create_engine
pth='/content/drive/MyDrive/Colab Notebooks/'
db = 'co-kto-ma.db'
    
engine = create_engine('sqlite:////'+pth+db)

ładuję do bazy tabele z zaliczkami:
instrukcja: 
dz - to DataFrame - może być obrobiony tzn. pogrupowany posumowany itp.
dz.to_sql('table') - instrukcja robiąca tabelę w bazie
                 - a 'table' to nazwa utowrzonej tabeli

***system nie pozwoli założyć kilku tabel o tej samej nazwie***

**dlatego są zakomentowane**

In [ ]:
# dz.to_sql('co-kto-ma',con=engine)

przykład zrobienia tabeli z filtrem 

biorę swoje budynki

In [ ]:
# dz.query('R_inicjal == "SO"').to_sql('wspolnoty_stasia',con=engine)

praca w SQL z utworzonymi powyżej tabelami w bazie sqlite

wynik pobranych danych wrzucany do DataFrame i robimy co chcemy

In [ ]:
result = engine.execute('SELECT * FROM "co-kto-ma";')
# [print(dl) for dl in result]
dfr = pd.DataFrame(result)
result.close()

In [ ]:
dfr